  header {
    margin-top: 25px;
  }
  
  .logo-et-menu-principal {
    display: flex;
    justify-content: space-between;
  }
    
  .logo {
    display: flex;
    align-items: center;
  }


  