/*############################# GENERAL: début ###############################*/

/***********  *** Préceptes généraux : début ***************/

* {
    font-family: 'Raleway', sans-serif;
    color: #000000;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

/**************** Préceptes généraux : fin ***************/
/**************** Couleurs du sites: début ***************/

:root {
    --couleur-principale: #0065FC;
    --couleur-bg-principale: #F2F2F2;
    --couleur-bg-bouton-filtre: #DEEBFF;/*Couleur du fond des boutons filtres lors du survol*/
    --couleur-bordure-bouton: #D9D9D9;
    --couleur-bg-carte: #ffffff;
    --ombre-carte: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    --ombre-loupe: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.250));;
}

/**************** Couleurs du sites: fin *****************/
/*****Titres, paragraphes, icones, liens: début ******/


h1 {/**Titre du site web**/
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
}

h2 {/**Titres des sections**/
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
}

h3 {/**Titre de la barre des filtres, titres des rubriques du footer*//
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;

}

h4 {/**Titre cartes**/
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;  
}

.barre h4 {/**Libellés des boutons filtres**/
    font-size: 17px;
    font-weight: 700;
    line-height: 18.78px;
}

p {/**Texte des cartes**/
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
}

header p, .menu-ancres a {/**Informations dans le header : ""En plein centre ..." et "Plus de 500 logements ..." **/
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}

a {
    text-decoration: none;
}

::placeholder {/**Texte permanant "Marseille, France" figurant dans le champs de recherche de la barre de recherche**/
    font-size: 18px;
    font-weight: 700;
    text-align: center;
 }    

.fa-solid {
    color: var(--couleur-principale);
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--couleur-bg-principale)
}

.afficher-plus {
    padding-left: 36px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
}

/*****Titres, paragraphes, icones, liens: fin ******/
/**********Format des cartes: début **********/

.carte {
    background-color: var(--couleur-bg-carte);
    border-radius: 20px;
    padding: 5px;
    filter: var(--ombre-carte);
}

.carte img {
    object-fit: cover;
}

/**********Format des cartes: fin **********/

/*############################# GENERAL: fin ###############################*/
/*############################# HEADER: début ##############################*/

/*logo-nav*/

.logo-et-menu-principal {
    display:flex;
    justify-content: space-between;
}

.logo img {
    height: 19px;
}

.centrage-logo { 
    display: flex;
    align-items : center;
}

/*logo-et-menu-principal : ancres*/

.menu-ancres ul {
    display: flex;
    gap: 68px;
    align-items:flex-end;
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    color: black;
    height:18.75px;
}

.menu-ancres-liste {
    display: flex;
    align-items: flex-end;
    border-top: 2px solid rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.menu-ancres-liste a {
    padding-top: 21px; 
}

.menu-ancres-liste a:hover {
    color: var(--couleur-principale);
    border-top: 2px solid var(--couleur-principale);
}

/**Titre h1 et base-line**/

.titre-header {
    display: block;
    margin-top: 35px;
}

/**Barre de recherche**/

.barre-de-recherche {
    display:flex;
    justify-content: flex-start;
    height: 50px;
    margin-top: 35px;
}

#container-icone-maps {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height: 49px;
    border: 1px;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--couleur-bg-principale);  
}

#container-icone-maps i {
    font-size: 18px;
}

.champs-rechercher {
    height: 45px;
    border: 1px solid var(--couleur-bg-principale); 
    border-radius: 0px 0px 0px 0px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

#formulaire-de-recherche {
    display: flex; 
    }

#btn-rechercher1 { /* bouton visible uniquement hors mode mobile*/
    font-size: 18px;
    font-weight: 700;
    color:#ffffff;
    width: 132px;
    height: 49px;
    border: 1px;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--couleur-principale);
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-rechercher2 { /* bouton visible uniquement en mode mobile*/
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color:#ffffff;
    width: 49px;
    height: 49px;
    border: 1px;
    border-radius: 15px 15px 15px 15px;
    background-color: var(--couleur-principale);
    
    
}

.fa-magnifying-glass {/*Icone loupe sur fond bleu*/
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--couleur-principale);    
    border-radius: 15px;
    min-width: 49px;
    height: 49px;
    margin-left: -15px;
    filter:var(--ombre-loupe);
}

/**Barre des filtres**/

.rubrique-filtres {
    display:flex;
    flex-direction: column;
    margin-top: 35px;
}

.titre-et-barre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.titre-filtre {
    margin-right: 15px;
}

.barre {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    height: 50px;
    column-gap: 15px;
}

.barre span {
    margin-left: 5px;
}

.btn-filtre {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    border: 2px solid var(--couleur-bordure-bouton);
    background-color: white;
    border-radius: 50px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 14px;
    padding-right: 14px;
}

.btn-filtre:hover {
    background-color: var(--couleur-bg-bouton-filtre);
    cursor: default;
}

/**Message d'information : Plus de 500 logements ... dans cette ville**/

.icone-info {
    width: 24px;
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid var(--couleur-bordure-bouton);
    border-radius: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/*Texte d'information situé après l'icône "i"*/

.info { 
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.info p {
    margin-top: 35px;
    margin-bottom: 35px;
}

/*############################# HEADER: fin ###############################*/
/*############################# MAIN: début ###############################*/

/****** Hebergements et Populaires ***********/
.hebergements-et-populaires {
    display: flex;
    justify-content: space-between; /**commande espace entre les deux containers gris "Hébergements" et "Populaires";**/
    gap: 50px;
}

.hebergements-et-populaires section {
    background-color: var(--couleur-bg-principale);
    border-radius: 25px;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.hebergements a {
    display: flex; 
    min-width: 29%;
    width: calc(29% - 20px);  
}

.hebergements nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    min-height: calc(21.118px + 60px);
}

.hebergements h2 {
    margin-top: 30px;
    margin-left: 30px; 
}

/****** Hebergements cartes *****/

.hebergements-cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 30px;
    row-gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.hebergements-cartes article {
    display: flex;
    width : 100%;
}

.hebergements-cartes .carte {    
    display: flex;
    margin-top: 0px;
    min-height: 207.25px;
    height: auto;
    border-radius: 24px;
    align-items: stretch; 
}

.hebergements-cartes a .carte {
    display: flex;
    flex-direction: column;
    min-height: 207.25px;
}

.hebergements-cartes style {
    width: 100%;
}

.hebergements-cartes img {
    height: 124px;
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cartes .contenu-carte {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergements-cartes .titre-carte {
    margin-top: 10px;
    margin-bottom: 4px;
    padding-right: 10px;
}

.hebergements .sous-titre-carte {
    margin: 0;
    padding-right: 10px;
}

.hebergements-cartes .notation-carte {
    margin-top: 6px;
    padding-right: 10px;
}   

/****** Populaires: début ***********/

.populaires {
    width: 32%;
    margin-top: 0px;
}

.populaires-cartes {
    display: flex;
    flex-direction: column; 
    row-gap: 30px;
    padding-bottom: 30px;   
}

.populaires h2 {
    display: block;
    margin-top: 30px;  
}

.populaires-titre {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.populaires-cartes .carte {
    display: flex;
    height: 146px;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.populaires-cartes .carte img {
    width: 33%;
    max-width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cartes .contenu-carte {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
}

.populaires h1 {
    margin-bottom: 30px;
}

.populaires-cartes .titre-carte {
    margin-top: 10px;
    margin-bottom: 4px;
    padding-right: 10px;
}

.populaires-cartes .sous-titre-carte {
    margin: 0;
    padding-right: 10px;
}

.populaires-cartes .notation-carte {
    margin-bottom: 5px;
    padding-right: 10px;
}

.icone-size {/**Taille de l'icone**/
    font-size: 18px;
}

/****** Populaires: fin ***********/
/****** Activités-Marseille: début **********/

/**activites**/

.activites {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px; 
}

.activites h2 {
    margin-top: 30px;
    margin-bottom : 30px;
}

/* activites-cartes */

.activites-cartes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activites-cartes a {
    display: flex;
    align-items: stretch;
    min-width: 20%;
    width: calc(25% - 30px);
}

.activites-cartes article {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.activites-cartes a .carte { 
    display: flex;
    flex-direction: column;
    min-height: 439px;    
    border-radius: 24px;
    padding: 0px;
} 

.activites-cartes img { 
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cartes .titre-carte {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: auto;
    margin-bottom: auto;
    height : auto;
}

/****** Activités Marseille: fin ************/
/*############################# MAIN: fin ###############################*/
/*############################# FOOTER: début ###########################*/

.footer {
    display: flex;
    justify-content: flex-start; 
    background-color: var(--couleur-bg-principale);
    margin-top: 60px; 
}

.footer nav {
    width: 33%;
}

.footer nav a {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    padding-top: 15px;
    margin-left: -15px;  
}

.footer h3 {
    margin-left: -15px;
    margin-bottom: 0px;
}

.footer ul {
    list-style-type: none; 
}

/*############################# FOOTER: fin ################################*/

